<% form_for(@list) do |f|%>
<div><%= f.label :name %><br>
<%= f.text_field :name %></div>

<div><%= f.label :description %><br>
<%= f.text_area :description %></div>

<% f.fields_for :list_items, @list.list_items.build do |list_item_fields| %>
    <%

<div><label>Items</label<br>
<%= f.collection_check_boxes :item_ids, :Item.all, :id, :name %>
</div>

<div><%= f.label :quantity %><br>
<%= f.text_field :quantity %></div>

<%= f.submit %>
<% end %>
