<h1><%= @list.name %></h1>
<h2><%= @list.description %> </h2>
<%= form_for @list  do |f| %>
<% @list.list_items.each do |item| %>
  <li><%= link_to item.item.name, item_path(item.item) if item.item_id != nil%>
    <%= f.label :quantity%>
    <%= f.fields_for :list_items, item do |list_item|%>
      <%= list_item.text_field :quantity, :value=>item.quantity %>
      <% end %>
    </li>
<% end %>
<%= f.submit %>
<% end %>

<label> Check out Prices at these stores:</label>
<%= form_tag(list_store_path(@list), method: "get") do %>
<%= collection_select :store, :id, Store.all, :id, :name %>
<%= submit_tag "Filter" %>
<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
