<h1><%= @list.name %></h1>
<h2><%= @list.description %> </h2>
<% @list.items.each do |item| %>
<li><%= link_to item.name, item_path %></li>
<label>Quantity: </label>
<%= f.form_for @list_item %>
<%= f.fields_for :quantity, @list.list_items.build do |list_item| %>
<%= f.label :quantity  %><br>
<%= list_item.text_field :quanitity %>
<% end %>
<% end %>

<label> Check out Prices at these stores:</label>
<%= form_tag(list_store_path(@list), method: "get") do %>
<%= collection_select :store, :id, Store.all, :id, :name %>
<%= submit_tag "Filter" %>
<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
