<%= @list.name %>
<%= @list.description %>
<% @list.items.each do |item| %>
<li><%= link_to item.name, item_path %> - <%= item.description %> </li>
<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
