<h1><%= @store.name %></h1>
<h2>Location: <%= @store.description %>

<h3>Here are the items sold at this store </h3>
<div>
  <h3>Filter Items:</h3>
  <%= form_tag(store_path, method: "get") do %>
    <%= select_tag "sort_order", options_for_select(["High to Low", "Low to High", "Top Rated"]), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<% @store.store_items.each do |items| %>
<li>
  <%= link_to items.item.name, item_path(items.item) %> - <label>Price:</label><%=items.price %>
</li>
<% end %>
<%= link_to 'Back to Store List', stores_path %>
