<%= form_tag(items_path, method: "get") do %>
  <%= select_tag "sort_by_department", options_for_select(Item.departments_by_name, @department)%>
  <%= submit_tag "Filter" %>
<% end %>
<% @items.each do |item| %>
<li>
  <%= link_to item.name, item_path(item) %>
</li>
<% end %>

<div><%= link_to 'Add a New Item', new_item_path %></div> 
