<h1> Creating a New Item <%= link_to @store.name, store_path(@store) if @store %></h1>

<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@item.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@item) do |f| %>
<div><%= f.label :name %><br>
<%= f.text_field :name %></div>

<div><%= f.label :description %><br>
<%= f.text_area :description %></div>

<div><%= f.label :department %><br>
<%= f.text_field :department, list: 'department' %><br>
  <datalist id="department">
      <% Item.departments.each do |item| %>
        <option value="<%= item.department %>"></option>
      <% end %>
    </datalist>
</div>
<div>
  <% if @store %>
  <%= f.fields_for :store_items, @item.store_items.build do |store_item|%>
  <%= f.label :price  %><br>
  <%= store_item.hidden_field :store_id, :value=>@store.id %>
  <%= store_item.text_field :price %>
  <% end %>
  <%end%>
</div>
    <%= f.submit %>
<% end %>
