<h1 class="itemName"><%= @item.name %></h1>
<div>
  <a href="#" class="js-next" data-id="<%=@item.id%>">Next...</a>
<p class="itemDescription"><%= @item.description %> <br>
</p>
</div>

<% if @store %>
<p>
<h3> Available @ <%= link_to @store.name, store_path(@store)%></h3>
<h3> Here is a list of all available items @<%= link_to @store.name, store_items_path(@store) %>
</p>
<% end %>

<div>

<p> <%= link_to "Back to Items", items_path %> </p>
</div>
