<!DOCTYPE html>
<html>
  <head>
    <title>GroceryListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Welcome to Grocery List App </h1>
    <% if logged_in? %>
    <h3><%= link_to "Hello, #{current_user.name}!", user_path(current_user) %></h3>
    <h3><%= link_to "Lists", lists_path %></h3>
    <h3><%= link_to "Stores", stores_path %></h3>
    <h3><%= link_to "Items", items_path %></h3>
    <h3><%= link_to "Log Out", logout_path, method: :delete %></h3>
    <% else %>
    <h3><%= link_to "Sign In", login_path %></h3>
    <h3><%= link_to "Sign Up", new_user_path %></h3>
    <% end %>

    <%= yield %>
  </body>

</html>
